---
import IndexLayout from '@/layouts/IndexLayout.astro'
import PostList from '@/components/widgets/PostList.astro'
import { themeConfig } from '@/config'
import { getSortedFilteredPosts } from '@/utils/draft'

const allPosts = await getSortedFilteredPosts()
---

<IndexLayout title={`All Posts - ${themeConfig.site.title}`} description="All blog posts">
  <main>
    <h1>Blog</h1>
    <PostList posts={allPosts} />
  </main>
</IndexLayout>
